<!DOCTYPE html>
<html>
<head>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="../static/css/styledogs.css">
    <title>Bobby</title>
</head>

<body>
    <h1>Bobby</h1>
    <h6>Idade: 8 meses<br>
        Raça: Corgi<br>
        Sociabilidade: adora crianças, mas não se adapta bem com outros animais</h6>
        <button class="styled-button">Ajude o Bobby</button>
    <p>Bobby é um menino muito tranquilo e amoroso que adora crianças, porém infelizmente viveu em uma casa com outro cachorro que o atacava com frequência e por isso ainda tem muito medo de outros animais.</p>

</body>
<div class="dog-info">
        
        <img src="/static/imagens/bobby.png" alt="Dog 1" width="100" height="100">
    </div>

    
</html>