<!DOCTYPE html>
<html>
    <head>
        <html lang="en">
        
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>HOME</title>
            <link rel="stylesheet" href="/static/css/styledogs.css">
            <title>Bobby</title>
        </head>
<body>
    <h1>Minnie</h1>
    <h6>Idade: 2 anos<br>
        Raça: Daschund<br>
        Sociabilidade: bom comportamento com crianças e outros animais</h6>
        <button class="styled-button">Ajude a Minnie</button>
    <p>Minnie é uma adorável Dachshund de 2 anos de idade que, infelizmente, foi abandonada quando seus ex-tutores se mudaram para um local que não aceitava cachorros e agora está em busca de um novo lar. Ela é uma cachorrinha cheia de energia e amor para dar, ideal para uma casa com crianças e outros doguinhos.</p>

</body>
<div class="dog-info">
        
        <img src="/static/imagens/minnie.png" alt="Dog 3" width="100" height="90">
    </div>

    
</html>